.contribution-table {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contribution-table-container {
  width: auto;
}

.contribution-table-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 3px;
  grid-template-rows: repeat(7, 1fr);
}

.contribution-table-side {
  padding-top: 20px;
  padding-right: 5px;
}

.contribution-table-side>.contribution-table-text {
  padding-bottom: 18px;
}

.contribution-table-header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}